<div class="fullsize-container">
    <app-navbar [profile]="profile"></app-navbar>
    <div class="profile-container">
        <app-sidebar></app-sidebar>
        <div class="data-container">
            <div class="article-list-container">
                <ul>
                    <li *ngFor="let article of articles" (click)="getArticleFromList(article)">
                        <div class="article-card" [class.selected] = "article === selectedArticle">
                            <img src="{{article.photo}}">
                            <div class="article-info">
                                <h4><span>Title: <span style="color: blue;">{{article.title}} &nbsp;&nbsp;</span> </span>
                                    <span>Created: <span style="color: blue">{{article.createdAt | date }}</span></span>
                                </h4>
                                <div class="article-content"  #articleContentRef [innerHTML]="article.content"></div>
                            </div>
                            <div class="ref-container"> <a [routerLink]="['/article', article.id]">view article</a></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="crud-buttons-container">
                <button class="button" (click)="createArticle()">Create new</button>
                <button class="button">Update</button>
                <button class="button">Delete</button>
            </div>
        </div>
    </div>
</div>
