.article-list-container {
  border: red solid 2px;
  display: flex;
  width: 60%;
  margin: 5px 10% 5px 5px;

  ul {
    margin: 5px 5px 5px 5px;
    width: 100%;
    height: auto;
    list-style: none;
    overflow-y: scroll;
    border-radius: 5px;
    border: solid 2px #52a8ff;
    box-shadow: 5px 5px 5px #3A3939;
  }
}

.crud-buttons-container {
  border: red solid 2px;
  display: flex;
  width: 30%;
  margin: 5px 5px 5px 5px;
}
