<nav class="navbar navbar-light navbarColor" style="background-color: #e1eff5">
    <form class="form-inline ">
        <a  routerLink="/auth/login"   class="btn btn-outline-info btn-lg mr-sm-1 navbarButton" role="button" aria-pressed="true">Login</a>
        <a  routerLink="/auth/register" class="btn btn-outline-warning btn-lg navbarButton" role="button" aria-pressed="true">Register</a>
    </form>
        <a  routerLink="/about"   class="btn btn-outline-success btn-lg m-1" role="button" aria-pressed="true">About</a>
</nav>

