* {
  box-sizing: border-box
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 2px #52a8ff;
  background-color: #e1eff5;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #3A3939;
  margin:5px 5px 20px 5px;
}


.avatar-container {
  display: flex;
  align-items: center;

  .avatar {
    margin-left: 2px;
  }

  .name {
    margin-left: 10px;
  }

}


.avatar {
  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}

.name {
  p {
    margin: auto;
    font-size: 1.5em;
  }
}

.buttons-container {
  display: flex;
  width: 60%;
  justify-content: space-between;
}


.control-buttons {
  display: flex;
  width: 75%;
  padding: 20px 0;

  .button {
    width: 240px;
    margin: auto;
    font-size: 1.5em;
    flex-shrink: 1;
    flex-grow: 0;
  }
}

.logout-button {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .button {
    font-size: 1.5em;
    padding: auto;
    margin-right: 0.2em;
    flex-shrink: 1;
    flex-grow: 0;
  }
}

.button {
  text-decoration: none;
  border: solid 2px #52a8ff;
  font-size: 30px;
  border-radius: 5px;
  text-align: center;
  color: #52a8ff;
  background-color: #e1eff5;

}

.button:hover {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  background-color: #81cbff;
  border: 2px solid blue;
  color: blue;
}

.button:active {
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
  border: inset;
}

