<nav>
    <div class="avatar-container">
        <div class="avatar">
            <img src="{{profile.avatar}}">
        </div>
        <div class="name">
            <p>{{profile.name}}</p>
        </div>
    </div>
    <div class="buttons-container">
        <div class="control-buttons">
            <a href="/profile" class="button" >Profile</a>
            <a href="/test" class="button">Articles</a>
            <a href="/test" class="button">Chat</a>
        </div>
        <div class="logout-button">
            <button class="button" (click)="logout()" >LogOut</button>
        </div>
    </div>
</nav>
