<div class="fullsize-container">
    <app-navbar [profile]="profile"></app-navbar>
    <div class="profile-container">
        <app-sidebar></app-sidebar>
        <div class="data-container">
            <div class="changedata-container">
                <div class="avatar">
                    <img appAvatar [src]=profile.avatar>
                </div>
                <div class="input-group input">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputImage"
                               (change)="onImageChanged($event)">
                        <label class="custom-file-label"
                               for="inputImage">{{selectedImage ? selectedImage.name : 'Choose File' }}</label>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" (click)="onImageUpload()"
                                [disabled]="!selectedImage">Upload
                        </button>
                    </div>
                </div>
                <div class="userdata-container">
                    <ul>
                        <h4>Update profile data</h4>
                        <li>
                            <input type="text" placeholder="{{profile.name}}" [(ngModel)]="profile.name"
                                   #name='ngModel' minlength="2">
                            <button class="updatebtn" [disabled]="!name.valid"
                                    (click)="updateProfileData('name', ['email'])">Change
                            </button>
                            <div [hidden]="name.valid" class="alert-danger">Too short name</div>
                        </li>
                        <li>
                            <input type="email" placeholder="{{profile.email}}" [(ngModel)]="profile.email"
                                   pattern="[a-zA-Z_]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}" #email="ngModel">
                            <button class="updatebtn" [disabled]="!name.valid"
                                    (click)="updateProfileData('email', ['name'])">Change
                            </button>
                            <div [hidden]="email.valid" class="alert-danger">Incorrect email!</div>
                        </li>
                        <li>
                            <input type="text" placeholder="Phone Number">
                            <button type="button" class="updatebtn" disabled>Change</button>
                        </li>
                        <hr>
                        <li>
                            <h4>Change password</h4>
                            <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                                <input type="password" placeholder="Old password" formControlName='oldPassword'>
                                <div class="alert-danger"
                                     *ngIf="password.invalid && password.dirty">
                                    <p *ngIf="password.errors.required">Required field</p>
                                    <p *ngIf="password.errors.minlength">Password should contain at least 8
                                        symbols</p>
                                </div>
                                <input type="password" placeholder="New password" formControlName='password'>
                                <div class="alert-danger"
                                     *ngIf="password.invalid && password.dirty">
                                    <p *ngIf="password.errors.required">Required field</p>
                                    <p *ngIf="password.errors.minlength">Password should contain at least 8
                                        symbols</p>
                                </div>
                                <input type="password" placeholder="Confirm new password"
                                       formControlName="confirmPassword">
                                <div class="alert-danger"
                                     *ngIf="confirmPassword.invalid && confirmPassword.dirty || validated === false">
                                    <p *ngIf="confirmPassword.errors.notMatch">Password doesn't match</p>
                                </div>
                                <button type="submit" class="updatebtn">Submit</button>
                                <h5 style="color: green;" *appChangePassword="isVisible">Password changed
                                    successfully!</h5>
                            </form>
                        </li>
                        <hr>
                    </ul>
                </div>
            </div>
            <div class="statistics-container">
                <div class="userdata-container">
                    <ul>
                        <li>
                            <label>Articles</label>
                            <span>0</span>
                        </li>
                        <li>
                            <label>Comments</label>
                            <span>0</span>
                        </li>
                        <li>
                            <label>Likes</label>
                            <span>0</span>
                        </li>
                        <li>
                            <label>Friends</label>
                            <span>0</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="other-container">
                <div class="clock-container">
                    <app-clock></app-clock>
                </div>
            </div>


