<app-profile-navbar></app-profile-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 m-2" style="border: solid black 2px;">
            <div class="row">
            <div class="photo-wrapper" >
                <img class="img-fluid" src="{{avatar}}" style="border: solid red 2px;width: 100vw;">
            </div>
            <div class="input-group m-2">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                    <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Button</button>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
