.editor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding: 5px;
  border: solid 2px #52a8ff;
  background-color: #e1eff5;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #3A3939;
  flex-grow: 1;
  margin: 0 5px 5px 0;
  color: #52a8ff;
  .title-container{
    width: 80rem;
    display: flex;
    margin-bottom: 2px;
    align-items: center;
    label{
      margin: 0 2px 0 0;
      font-size: 2rem;
    }
    input{
      width: 15%;
      height: 80%;
    }
  }

}


:host ::ng-deep .ck-editor__editable_inline {
  width: 80rem;
  min-height: 40rem;
}

.save_button {
  text-decoration: none;
  border: solid 2px #52a8ff;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
  color: #52a8ff;
  background-color: #e1eff5;
}

.save_button:hover {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  background-color: #81cbff;
  border: 2px solid blue;
  color: blue;
}

.save_button:active {
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
  border: inset;
}

.save_button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  box-shadow: none;
}
.controls-container{
  width: 80rem;
  display: flex;
  min-height: 40px;
  margin-top: 2px;
  .notification{
    display: flex;
    width: 40%;
    text-align: center;
    font-size: 1.4rem;
  }
  .savebutton-container {
    display: flex;
    width: 60%;
    flex-direction: row-reverse;
    align-items: center;
    button {
      width: 20%;
      height: 90%;
    }
  }
}
.successful-create{
  color: green;
}
.unsuccessful-create{
  color: red;
}
.wrong-title{
  border: 3px solid red;
}
