<div class="fullsize-container">
    <app-navbar [profile]="profile"></app-navbar>
    <div class="profile-container">
        <app-sidebar></app-sidebar>
        <div class="editor-container">
            <h2>Create new article</h2>
            <div class="title-container">
                <label for="titleInput">Title</label>
                <input type="text" id="titleInput" [(ngModel)]="article.title"
                       [class.wrong-title]="titleRequired" (input)="titleRequired = false" on>
            </div>
            <ckeditor #editor [editor]="Editor" [config]="editorConfig"  (change)="onChange($event)"
            ></ckeditor>
            <div class="controls-container">
                <div class="notification">
                    <span *ngIf="createdSuccessful" class="successful-create">Article created successfully!</span>
                    <span *ngIf="titleRequired" class="unsuccessful-create">Article title required!</span>
                </div>
                <div class="savebutton-container">
                    <button class="save_button" type="submit" [disabled]="!this.article.content"
                             (click)="createArticle()">Create</button>
                </div>
            </div>

        </div>
    </div>
</div>
